extends ../templates/template.pug
block title-description-head
  +title-description-head("Shortening Page","Description shortening Page")
block cover-page 
  .cover-page 
    .cover-page__container.container
      picture.cover-page__img 
        img(src=`${img}/illustration-working.svg`, alt="Illustration")
      .cover-page__detail
        p.cover-page__title More than just shorter links
        p.cover-page__description.text Build your brand's recognition and get detailed insights on how your links are perfoming
        a(href="#search-section").cover-page__button.btn Get Started
block main 
  main.main 
    section.search-section#search-section
      .search-section__container.container
        form(method="post")#form-shortener.form-search
          .input-wrap
            input.input-wrap__input#link-shortener(type="text" placeholder="Shorten a link here..." name="linkShortener")
          input#submit-shortener.form-search__button.btn(type="submit" value="Shorten it!")
        #form-shortener-results.search-section__results
    section.statistics-section 
      .statistics-section__container.container
        h2.statistics-section__title.title Advanced Statistics
        p.statistics-section__description.text Track how your links are performing across the web with our advanced statistics dashboard.
        .statistics-section__grid
          article.card-statistic
            picture.card-statistic__icon 
              img(src=`${img}/icon-brand-recognition.svg`, alt="Brand recognition")
            h3.card-statistic__title.title Brand Recognition
            p.card-statistic__description.text Boost yout brand recognition with each click. Generic links dont't mean a thing. Branded links help instil confidence in your content. 
          article.card-statistic.card-statistic--second
            picture.card-statistic__icon
              img(src=`${img}/icon-detailed-records.svg`, alt="Detailed records")
            h3.card-statistic__title.title Detailed Records
            p.card-statistic__description.text Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.
          article.card-statistic.card-statistic--third
            picture.card-statistic__icon
              img(src=`${img}/icon-fully-customizable.svg`, alt="Fully customizable")
            h3.card-statistic__title.title Fully Customizable
            p.card-statistic__description.text Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.
    aside.aside-section
      p.aside-section__title.title Boost your links today
      a(href="#search-section").aside-section__button.btn Get Started
    footer.footer 
      .footer__container.container
        .footer-grid 
          .footer-grid__item
            picture.footer__logo
              img(src=`${img}/logo-white.svg`, alt="Logo Alternativo Shortly")
          .footer-grid__item.footer-grid__item--margin
            p.footer-grid__subtitle Features
            ul.footer-grid__list
              li
                a(href="#") Link Shortening
              li
                a(href="#") Branded Links
              li
                a(href="#") Analytics
          .footer-grid__item
            p.footer-grid__subtitle Resources
            ul.footer-grid__list
              li
                a(href="#") Blog
              li
                a(href="#") Developers
              li
                a(href="#") Support
          .footer-grid__item
            p.footer-grid__subtitle Company
            ul.footer-grid__list
              li
                a(href="#") About
              li
                a(href="#") Our Team
              li
                a(href="#") Careers
              li
                a(href="#") Contact
          .footer-grid__item.footer-grid__item--socials
            a(href="https://www.facebook.com" target="_blank")
              img(src=`${img}/icon-facebook.svg`, alt="Icono facebook")
            a(href="https://twitter.com" target="_blank")
              img(src=`${img}/icon-twitter.svg`, alt="Icono twitter")
            a(href="https://www.pinterest.es" target="_blank")
              img(src=`${img}/icon-pinterest.svg`, alt="Icono pinterest")
            a(href="https://www.instagram.com" target="_blank")
              img(src=`${img}/icon-instagram.svg`, alt="Icono instagram")
    .credits
      p.credits__text Developed by 
        a(href="https://www.linkedin.com/in/andymar2001" target="_blank") Andy Mariños